:root {
    --main-color: #34D399;

}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg,rgba(209, 206, 214, 1) 0%, rgba(158, 147, 173, 1) 46%, rgba(123, 83, 145, 1) 100%);
    height: 100vh;
}

.header {
    background-color: white;
    text-align: center;
    padding: 4px;
}

.header h2 {
    color:var(--main-color);
    font-weight: 500;
}


.main {
    display: grid;
    padding: 30px 86px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar content";
    height: 85%;
    column-gap: 48px;
}

.sidebar {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    grid-area: sidebar;
    background-color: white;
    padding: 10px 20px;
}

.sidebar h3 {
    font-weight: 500;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--main-color);
}

.sidebar #add-project {
    text-align: center;
    padding: 8px 20px;
    color:white;
    background-color: var(--main-color);
    border: 0;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.sidebar .project-item {
    padding: 8px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid black;

}

.content {
    border-radius: 8px;
    padding:18px 62px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    grid-area: content;
    background-color: white;
}


#current-project {
    text-align: center;
    color:var(--main-color);
    margin:0;
    /* border: 1px solid red; */
}

#add-todo {
    text-align: center;
    margin: 0;
    color:white;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: 0;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
    
}

.todos {
    margin-top: 20px;
}


.todo-item {
    background-color: #f5f5f5;
    padding: 18px 18px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.todo-item input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: var(--main-color);
    color: white;
}

.todo-item input[type="checkbox"]:hover {
    cursor: pointer;
}


.todo-item .todo-delete {
    background-color: #fa7878;
    color: white;
    border-radius: 50%;
    border: 0;
    padding: 0.3rem 0.6rem;
    width: 28px;
    height: 28px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.todo-item .todo-title {
    /* text-align: left; */
    flex: 1 ;
    margin-left: 16px;
}

.todo-item .due-date {
    margin-right: 16px;
}


.todo-item:hover {
    cursor: pointer;
}

#add-project:hover, 
#add-todo:hover {
    cursor: pointer;
    background-color: #6fe38d;
}

.todo-delete:hover {
    background-color: #e53e3e;
    cursor: pointer;
}


.todo-item.low {
    border-left: 4px solid var(--main-color);
}

.todo-item.meduim {
    border-left: 4px solid #ebb954;
}

.todo-item.high {
    border-left: 4px solid #e0515d;
}