:root {
  --main-color: #34d399;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(209, 206, 214, 1) 0%,
    rgba(158, 147, 173, 1) 46%,
    rgba(123, 83, 145, 1) 100%
  );
  height: 100vh;
}

.header {
  background-color: white;
  text-align: center;
  padding: 4px;
}

.header h2 {
  color: var(--main-color);
  font-weight: 500;
}

.main {
  display: grid;
  padding: 30px 86px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar content";
  height: 85%;
  column-gap: 48px;
}

.sidebar {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  grid-area: sidebar;
  background-color: white;
  padding: 10px 20px;
}

.sidebar h3 {
  font-weight: 500;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--main-color);
}

.sidebar #add-project {
  text-align: center;
  padding: 8px 20px;
  color: white;
  background-color: var(--main-color);
  border: 0;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.sidebar .project-item {
  padding: 8px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 12px;
}

.content {
  border-radius: 8px;
  padding: 18px 62px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  grid-area: content;
  background-color: white;
}

#current-project {
  text-align: center;
  color: var(--main-color);
  margin: 0;
}

#add-todo {
  text-align: center;
  margin: 0;
  color: white;
  padding: 10px 20px;
  background-color: var(--main-color);
  border: 0;
  border-radius: 8px;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.todos {
  margin-top: 20px;
}

.todo-item {
  background-color: #f5f5f5;
  margin-bottom: 12px;
  padding: 18px 18px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--main-color);
  color: white;
}

.todo-item input[type="checkbox"]:hover {
  cursor: pointer;
}

.todo-item .todo-delete,
.project-delete {
  background-color: #fa7878;
  color: white;
  border-radius: 50%;
  border: 0;
  padding: 0.3rem 0.6rem;
  width: 28px;
  height: 28px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item .project-title {
  flex: 1;
}

.todo-item .todo-title {
  flex: 1;
  margin-left: 16px;
}

.todo-item .due-date {
  margin-right: 16px;
}

.todo-item:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#add-project:hover,
#add-todo:hover {
  cursor: pointer;
  background-color: #6fe38d;
}

.todo-delete:hover,
.project-delete:hover {
  background-color: #e53e3e;
  cursor: pointer;
}

.todo-item.low {
  border-left: 4px solid var(--main-color);
}

.todo-item.medium {
  border-left: 4px solid #ebb954;
}

.todo-item.high {
  border-left: 4px solid #e0515d;
}

/* add-to-do dialog */

.modal {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  opacity: 0;
  background-color: white;
  transform: scale(0.8);
  transition: 0.3s all ease;
  border-radius: 10px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal.show .modal-content {
  opacity: 1;
  transform: scale(1);
}

.modal h4 {
  color: var(--main-color);
  font-size: 1.2rem;
}

.modal input,
.modal select,
.modal textarea {
  border: 0;
  border: 2px solid #e2e8f0;
  outline: 0;
  border-radius: 8px;
  padding: 0.875rem;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  margin-bottom: 18px;
  width: 100%;
}

.modal input:focus,
.modal select:focus,
.modal textarea:focus {
  border: 2px solid var(--main-color);
}

textarea {
  resize: vertical;
}

#form-add {
  border: 0;
  border-radius: 8px;
  width: 100%;
  padding: 0.875rem;
  color: white;
  background-color: var(--main-color);
  transition: 0.3s all ease;
}

#form-add:hover {
  background-color: #6fe38d;
  cursor: pointer;
}
